@import 'bourbon/bourbon';
/* Get the bourbon mixin from http://bourbon.io */

/* Reset */
.flip-clock-wrapper * {
    margin: 0;
    padding: 0;
    line-height: normal;
    @include box-sizing(border-box);
}

.flip-clock-wrapper a {
    cursor: pointer;
    text-decoration: none;
    color: #ccc;
}

.flip-clock-wrapper a:hover {
    color: #fff;
}

.flip-clock-wrapper ul {
    list-style: none
}

.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after {
    content: " ";
    display: table;
}

.flip-clock-wrapper.clearfix:after {
    clear: both;
}

.flip-clock-wrapper.clearfix {
    *zoom: 1;
}

/* Main */

.flip-clock-wrapper {
    min-height: 100%;
    font: normal 11px "Helvetica Neue", Helvetica, sans-serif;
    -webkit-user-select: none;
}

.flip-clock-meridium {
	background: none;
	box-shadow: 0 0 0 !important;
	font-size: 36px !important;
	color: rgb(49, 51, 51);
	bottom: 10px;
}


.flip-clock-wrapper {
    text-align: center;
    position: relative;
    width: 100%;
    margin: 1em;
}

/* Skeleton */

.flip-clock-wrapper ul {
    position: relative;
    float: left;
    margin: 5px;
    width: 60px;
    height: 90px;
    font-size: 80px;
    font-weight: 700;
    line-height: 87px;
    border-radius: 6px_prefixed
    ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .7);
}

.flip-clock-wrapper ul li {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	line-height: 87px;
}

.flip-clock-wrapper ul li:first-child {
    z-index: 2;
}

.flip-clock-wrapper ul li a {
    display: block;
    height: 100%;
    @include perspective(200px);
    margin: 0 !important;
    overflow: visible !important;
}

.flip-clock-wrapper ul li a div {
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.flip-clock-wrapper ul li a div .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.flip-clock-wrapper ul li a div.up {
    @include transform-origin(50% 100%);
    top: 0;
}

.flip-clock-wrapper ul li a div.up:after {
  content: "";
  position:absolute;
  top:44px;
  left:0;
  z-index: 5;
  width: 100%;
  height: 3px;
  background-color: #000;
  background-color: rgba(0,0,0,.4);
}

.flip-clock-wrapper ul li a div.down {
    @include transform-origin(50% 0);
    bottom: 0;
}

.flip-clock-wrapper ul li a div div.inn {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 200%;
    color: #ccc;
    text-shadow: 0 1px 2px #000;
    text-align: center;
    background-color: #333;
    border-radius: 6px;
    font-size: 70px;
}

.flip-clock-wrapper ul li a div.up div.inn {
    top: 0;

}

.flip-clock-wrapper ul li a div.down div.inn {
    bottom: 0;
}

/* PLAY */

.flip-clock-wrapper ul.play li.flip-clock-before {
    z-index: 3;
}

.flip-clock-wrapper ul.play li.flip-clock-active {
    @include animation(asd .5s .5s linear both);
    z-index: 2;
}

.flip-clock-divider {
	float: left;
	display: inline-block;
	position: relative;
	width: 20px;
	height: 100px;
}

.flip-clock-divider:first-child { width: 0; }

.flip-clock-dot {
	display: block;
	background: rgb(50, 52, 52);
	width: 10px;
	height: 10px;
	position: absolute;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.flip-clock-divider .flip-clock-label {
	position: absolute;
	top: -1.5em;
	right: -86px;
	color: black;
	text-shadow: none;
}

.flip-clock-divider.minutes .flip-clock-label { right: -88px; }
.flip-clock-divider.seconds .flip-clock-label { right: -91px; }

.flip-clock-dot.top {
	top: 30px;
}

.flip-clock-dot.bottom {
	bottom: 30px;
}

@include keyframes(asd) {
  0% {
    z-index:2;
  }
  20% {
    z-index:4;
  }
  100% {
    z-index:4;
  }
}

.flip-clock-wrapper ul.play li.flip-clock-active .down {
    z-index: 2;
    @include animation(turn .5s .5s linear both);
}

@include keyframes(turn) {
  0% {
    @include transform(rotateX(90deg));
  }
  100% {
    @include transform(rotateX(0deg));
  }
}

.flip-clock-wrapper ul.play li.flip-clock-before .up {
    z-index: 2;
    @include animation(turn2 .5s linear both);
}

@include keyframes(turn2) {
  0% {
    @include transform(rotateX(0deg));
  }
  100% {
    @include transform(rotateX(-90deg));
  }
}

.flip-clock-wrapper ul li.flip-clock-active { z-index: 3; }

/* SHADOW */

.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, .1)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    @include animation(show .5s linear both);
}

.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, .1)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    @include animation(hide .5s .3s linear both);
}

/*DOWN*/

.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, .1)));
    background: linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
    @include animation(show .5s linear both);
}

.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, .1)));
    background: linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
    @include animation(hide .5s .3s linear both);
}

@include keyframes(show) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(hide) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}